Your secret will be available at: <br/>
<a href="{{ url_for('get_secret_frontend', secret_uuid=secret) }}">{{ url_for('get_secret_frontend', secret_uuid=secret) }}</a><br/><br/>
Once it is loaded once, this link will no longer work!
