<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Dead Drop: One-Time Secret Sharing</title>
        <script src="https://unpkg.com/htmx.org@2.0.0"
                integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet"
              href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <h1>Dead Drop</h1>
        <p>This is a secret sharing tool. Enter the secret you want to share
        with someone below, and then send them the generated URL. When they
        open it, they will get a one-time-use screen telling them the secret
        you want to share. After it is opened once, the secret will no longer
        be available to view. No more secret values saved in chat messages!</p>

        <form hx-post="/api/v1/add-secret"
              hx-target="#secret_value"
              hx-swap="innerHTML"
              hx-on:htmx:after-request="this.reset()">
            <input type="text"
                   name="secret_value"
                   placeholder="Secret you'd like to share...">
            <button>Share</button>
        </form>
        <ul id="secret_value"
            hx-swap="innerHTML"
            hx-trigger="load">
        </ul>
    </body>
</html>
